i {
  content: '';
  display: inline-block;
}
i.thumb_up {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/thumb_up.svg) no-repeat 50% 50%;
}

i.delete {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/delete.svg) no-repeat 50% 50%;
}

i.link {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/link.svg) no-repeat 50% 50%;
}

i.edit_square {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/edit_square.svg) no-repeat 50% 50%;
}

i.notification_important {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/notification_important.svg) no-repeat 50%
    50%;
}

i.register_check {
  min-width: 24px;
  width: 24px;
  height: 24px;
  background: url(../../images/desktop/register_check.svg) no-repeat 50% 50%;
}

i.google {
  min-width: 24px;
  width: 24px;
  height: 24px;
  background: url(../../images/desktop/google.svg) no-repeat 50% 50%;
}
i.linkedin {
  min-width: 24px;
  width: 24px;
  height: 24px;
  background: url(../../images/desktop/linkedin.svg) no-repeat 50% 50%;
}
i.like-facebook {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/like-facebook.svg) no-repeat 50% 50%;
}
i.like-twitterX {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/like-twitterX.svg) no-repeat 50% 50%;
}
i.like-link {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/like-link.svg) no-repeat 50% 50%;
}
i.group-small {
  min-width: 20px;
  width: 20px;
  height: 20px;
  background: url(../../images/desktop/group-small.svg) no-repeat 50% 50%;
}
