html,
body {
  font-family: 'Pretendard', sans-serif;
  height: 100%;
}
//reset
a {
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.btn {
  &-lg {
    padding: 12px 40px;
    font-size: 14px;
  }
  &-primary {
    color: #fff;
  }
  &-outline {
    &-secondary {
      border-color: #999;
      color: #000;
    }
  }
}
.collapse:not(.show) {
  display: none;
}
.ms-1 {
  margin-left: 4px !important;
}
.ms-2 {
  margin-left: 8px !important;
}
.me-1 {
  margin-right: 4px !important;
}
.me-2 {
  margin-right: 8px !important;
}
.tab-content > .tab-pane {
  display: none;
}
.fade:not(.show) {
  opacity: 0;
}
.fade {
  transition: opacity 0.15s linear;
}
.tab-content > .active {
  display: block;
}
