<header class="mandom-header">
  <div class="mandom-inner">
    <div class="mandom-header__start"></div>
    <div class="mandom-header__center">
      <a href="./" class="mandom-header-logo"></a>
    </div>
    <div class="mandom-header__end">
      <a href="" class="mandom-header-lock"> </a>
      <a href="" class="mandom-header-mypage"> 마이페이지 </a>
      <a href="" class="mandom-header-cart">
        <strong>2</strong>
      </a>
      <a href="" class="mandom-header-search"> 검색 </a>
    </div>
  </div>
</header>
