<div class="mandom-layer-menu">
  <div class="mandom-layer-menu__close">
    <button onclick="menuClose()">닫기</button>
  </div>
  <div class="mandom-layer-menu-head">
    <!-- <h3>지금 회원가입 하면?</h3>
    <div class="mandom-layer-menu-head__text">
      무료배송 쿠폰+등급별 할인쿠폰+구매적립
    </div> -->
    <h3>박재훈님</h3>
    <div class="mandom-layer-menu-head__text">로그인하셨습니다.</div>
    <div class="mandom-layer-menu-head__button">
      <button
        type="button"
        class="btn btn-outline-secondary btn-lg rounded-pill"
      >
        로그아웃
      </button>
    </div>
  </div>
  <div class="mandom-layer-menu-menu">
    <a href="">
      <img
        src="../../assets/images/mobile/layer-menu-mypage.svg"
        alt="마이페이지"
      />
      <p>마이페이지</p>
    </a>
    <a href="">
      <img
        src="../../assets/images/mobile/layer-menu-delivery.svg"
        alt="주문/배송"
      />
      <p>주문/배송</p>
    </a>
    <a href="">
      <img src="../../assets/images/mobile/layer-menu-coupon.svg" alt="쿠폰" />
      <p>쿠폰</p>
    </a>
    <a href="">
      <img src="../../assets/images/mobile/layer-menu-point.svg" alt="포인트" />
      <p>포인트</p>
    </a>
  </div>
  <div class="mandom-layer-menu-category">
    <div class="mandom-layer-menu-category-1depth">
      <a href="" class="active">HAIR</a>
      <a href="">FACE</a>
      <a href="">CLEANSING</a>
      <a href="">BODY</a>
      <a href="">TOOTH</a>
      <ul>
        <li>
          <a href="">EVENT</a>
        </li>
        <li>
          <a href="">REVIEW</a>
        </li>
        <li>
          <a href="">BRAND</a>
        </li>
        <li>
          <a href="">고객센터</a>
        </li>
      </ul>
    </div>
    <div class="mandom-layer-menu-category-2depth">
      <a
        data-bs-toggle="collapse"
        href="#submenu1"
        role="button"
        class="collapsed"
      >
        헤어 왁스
      </a>
      <div
        class="mandom-layer-menu-category-2depth__submenu collapse"
        id="submenu1"
      >
        <a href="">전체</a>
        <a href="">무빙러버 왁스</a>
        <a href="">헤어잼</a>
        <a href="">스타일링 왁스</a>
        <a href="">메타러버 왁스</a>
      </div>
      <a
        data-bs-toggle="collapse"
        href="#submenu2"
        role="button"
        class="collapsed"
        >헤어스프레이</a
      >
      <div
        class="mandom-layer-menu-category-2depth__submenu collapse"
        id="submenu2"
      >
        <a href="">전체</a>
        <a href="">무빙러버 왁스</a>
        <a href="">헤어잼</a>
        <a href="">스타일링 왁스</a>
        <a href="">메타러버 왁스</a>
      </div>
      <a
        data-bs-toggle="collapse"
        href="#submenu3"
        role="button"
        class="collapsed"
        >헤어젤/헤어폼</a
      >
      <div
        class="mandom-layer-menu-category-2depth__submenu collapse"
        id="submenu3"
      >
        <a href="">전체</a>
        <a href="">무빙러버 왁스</a>
        <a href="">헤어잼</a>
        <a href="">스타일링 왁스</a>
        <a href="">메타러버 왁스</a>
      </div>
      <a
        data-bs-toggle="collapse"
        href="#submenu4"
        role="button"
        class="collapsed"
        >헤어케어</a
      >
      <div
        class="mandom-layer-menu-category-2depth__submenu collapse"
        id="submenu4"
      >
        <a href="">전체</a>
        <a href="">무빙러버 왁스</a>
        <a href="">헤어잼</a>
        <a href="">스타일링 왁스</a>
        <a href="">메타러버 왁스</a>
      </div>
      <a
        data-bs-toggle="collapse"
        href="#submenu5"
        role="button"
        class="collapsed"
        >헤어트리트먼트</a
      >
      <div
        class="mandom-layer-menu-category-2depth__submenu collapse"
        id="submenu5"
      >
        <a href="">전체</a>
        <a href="">무빙러버 왁스</a>
        <a href="">헤어잼</a>
        <a href="">스타일링 왁스</a>
        <a href="">메타러버 왁스</a>
      </div>
      <a
        data-bs-toggle="collapse"
        href="#submenu6"
        role="button"
        class="collapsed"
        >헤어샴푸/컨디셔너</a
      >
      <div
        class="mandom-layer-menu-category-2depth__submenu collapse"
        id="submenu6"
      >
        <a href="">전체</a>
        <a href="">무빙러버 왁스</a>
        <a href="">헤어잼</a>
        <a href="">스타일링 왁스</a>
        <a href="">메타러버 왁스</a>
      </div>
      <a
        data-bs-toggle="collapse"
        href="#submenu7"
        role="button"
        class="collapsed"
        >헤어/눈썹 정리 키트</a
      >
      <div
        class="mandom-layer-menu-category-2depth__submenu collapse"
        id="submenu7"
      >
        <a href="">전체</a>
        <a href="">무빙러버 왁스</a>
        <a href="">헤어잼</a>
        <a href="">스타일링 왁스</a>
        <a href="">메타러버 왁스</a>
      </div>
    </div>
  </div>
</div>
