<div class="mandom-menu">
  <button class="mandom-menu__close" onclick="menuClose()">닫기</button>
  <div class="mandom-menu-menu">
    <a href="">
      <img
        src="../../assets/images/mobile/layer-menu-mypage.svg"
        alt="마이페이지"
      />
      <p>마이페이지</p>
    </a>
    <a href="">
      <img
        src="../../assets/images/mobile/layer-menu-delivery.svg"
        alt="주문/배송"
      />
      <p>주문/배송</p>
    </a>
    <a href="">
      <img src="../../assets/images/mobile/layer-menu-coupon.svg" alt="쿠폰" />
      <p>쿠폰</p>
    </a>
    <a href="">
      <img src="../../assets/images/mobile/layer-menu-point.svg" alt="포인트" />
      <p>포인트</p>
    </a>
  </div>
  <div class="mandom-menu-category">
    <div class="mandom-menu-category-sub"></div>
  </div>
</div>
