<div class="mandom-product mandom-product--soldout">
  <div class="mandom-product-thumb">
    <a href=""><img src="https://picsum.photos/200/300" alt="" /></a>
    <a href="" div class="mandom-product-thumb__cart"> 장바구니 담기 </a>
  </div>
  <a href="" class="mandom-product-info">
    <div class="mandom-product-text">
      ★특별할인 20%★ 아이비리그 스타★특별할인 20%★ 아이비리그 스타★특별할인 20%★
      아이비리그 스타★특별할인 20%★ 아이비리그 스타★특별할인 20%★ 아이비리그
      스타★특별할인 20%★ 아이비리그 스타★특별할인 20%★ 아이비리그 스타★특별할인
      20%★ 아이비리그 스타
    </div>
    <div class="mandom-product-title">
      갸스비 헤어 앤 스칼프 트레이닝 토닉 컬 타입 200ml 갸스비 헤어 앤 스칼프
      트레이닝 토닉 컬 타입 200ml
    </div>
    <div class="mandom-product-price">
      <del>15,000원</del>
      <div class="mandom-product-price-current">
        <span>20%</span>
        12,000원
      </div>
    </div>
    <div class="mandom-product-badge">
      <span class="badge" style="background-color: #f0f1f4; color: #3083ff"
        >NEW</span
      >
      <span class="badge" style="background-color: #f0f1f4; color: #ff5261"
        >SALE</span
      >
      <span class="badge" style="background-color: #f0f1f4; color: #777777"
        >BEST</span
      >
      <span class="badge" style="background-color: #00909a; color: #ffffff"
        >ONLINE ONLY</span
      >
      <span class="badge" style="background-color: #ff5261; color: #ffffff"
        >COUPON</span
      >
    </div>
  </a>
</div>
